@import url("https://fonts.googleapis.com/css?family=Supermercado+One&display=swap");

body {
	background: #9796f0; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#fbc7d4,
		#9796f0
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#fbc7d4,
		#9796f0
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.head-home {
    font-family: 'Supermercado One', cursive;
}
button {
	background: #3494e6; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#ec6ead,
		#3494e6
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#ec6ead,
		#3494e6
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.model-btn {
	background: #F6F6F6 !important;
}

